/*

######     ###    ##   ##  ##   ##  ######    #####    #####    ####     ######   ######  ##   ##    #####           ######    ##      
##   ##   ## ##   ###  ##  ##  ##   ##   ##  ##   ##  ##   ##  ##  ##      ##       ##    ###  ##   ##               ##   ##   ##      
##   ##  ##   ##  #### ##  ## ##    ##   ##  ##   ##  ##   ##  ##          ##       ##    #### ##  ##                ##   ##   ##      
##  ##   ##   ##  #######  ####     ######   ##   ##  ##   ##   #####      ##       ##    #######  ##  ###           ##   ##   ##      
#####    #######  ## ####  #####    ##   ##  ##   ##  ##   ##       ##     ##       ##    ## ####  ##   ##           ######    ##      
## ###   ##   ##  ##  ###  ## ###   ##   ##  ##   ##  ##   ##  ##   ##     ##       ##    ##  ###   ##  ##    ##     ##        ##      
##  ###  ##   ##  ##   ##  ##  ###  ######    #####    #####    #####      ##     ######  ##   ##    #####    ##     ##        ###### 

Copyright © Rankboosting.pl 

*/

/*body {
    background-color: #121212;
    color: #c0c0c0;
    font-family: 'Titillium Web', sans-serif;
}

.navbar-dark {
    background-color: #121212;
    border-bottom: 1px solid #07b4df;
}

.icon {
    color: #07b4df;
}

#online {
    margin-top: 100px;
}

*/

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background-color: #20232a;
}

::-webkit-scrollbar-thumb {
    background-color: #0aabe1;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #098bc7;
}

body {
    background-color: #111318;
    color: #afb5c0;
    font-family: 'Titillium Web', sans-serif;
}

/*
====================
#1 - Nav
--------------------
*/

header .navbar-dark {
    background-color: #111318;
    border-bottom: 1px solid #20232a;
    transition: top .5s cubic-bezier(.785,.135,.15,.86);
    /* box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.3); */
    /* border-bottom: 1px solid #363739; */
}

header nav .nav-item .icon {
    color: #0aabe1;
    margin-right: 5px;
}

header nav .nav-logo {
    width: 130px;
    margin: 10px 0;
}

header nav .nav-item {
    margin: 10px;
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
}

header nav .nav-item.active::before {
    content: "";
    width: 0;
    height: 1px;
    position: absolute;
    background-color: #0aabe1;
    bottom: -19px;
    left: -5px;
    transition: all .3s cubic-bezier(.785,.135,.15,.86);
    display: none;
}

header nav .nav-item.active-animation::before {
    width: calc(100% + 10px);
}

/*
====================
#2 - Status
--------------------
*/

#status {
    margin-top: 100px;
}

#status .progress {
    background-color: #15181e;
}

#status h1 {
    font-size: 1.25rem;
    font-weight: 200;
}

#status .players-info .players-counter {
    color: #07b4df;
}

#status .server-ip {
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
    background-color: #15181e;
    padding: 14px 50px;
    transition: all 0.2s ease-out;
    border-radius: 25px;
}

#status .server-ip:hover {
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.3);
    transform: translateY(-4px);
}

#status .server-ip p {
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
}

#status .server-ip p span {
    font-weight: normal;
    color: #0aabe1;
    text-transform: none;
}

#status .server-ip, #status .copy-ip {
    text-align: center;
}

#status .copy-ip p {
    margin-bottom: 0;
    margin-top: 8px;
    cursor: pointer;
    display: inline-block;
}

/*
====================
#3 - Ranking
--------------------
*/

#ranking .ranking-heading h4 {
    text-transform: uppercase;
    font-weight: 200;
}

#ranking .ranking-searchbar .form-control {
    background-color: rgba(16, 18, 23, 0.2);
    border: 1px solid rgba(21, 24, 30, 1);
    border-radius: 25px 0 0 25px;
    padding: 25px 22px;
}

#ranking .ranking-searchbar .form-control:focus {
    /* border-color: #0b293d; */
    box-shadow: none;
    background-color: rgba(15, 16, 21, 0.8);
    color: #0aabe1;
}

#ranking .ranking-searchbar button {
    width: 100%;
    height: 100%;
    background-color: rgba(21, 24, 30, 0.3);
    border: 1px solid rgba(21, 24, 30, 1);
    border-left: none;
    border-radius: 0 5px 5px 0;
}

#ranking .ranking-searchbar button:focus {
    box-shadow: none;
}

#ranking .ranking-searchbar button:hover {
    background-color: rgba(21, 24, 30, 1);
    color: #0aabe1;
}

#ranking .table thead th {
    border-bottom: 1px solid #20232a;
}

#ranking .table th, .table td {
    border: none;
}

#ranking table {
    /* border: 1px solid #0b293d; */
    border-collapse: separate;
    border-spacing: 0px 10px;
    color: inherit;
}

#ranking tr {
    background-color: rgba(21, 24, 30, 0.3);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
}

#ranking table:hover tr:hover {
    background-color: rgba(21, 24, 30, 1);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.3);
    color: white;
}

#ranking table:hover tr {
    color: #75797c;
}

#ranking .table-rank {
    width: 8%;
}

#ranking .table-player {
    width: 56%;
}

#ranking .table-elo, #ranking thead th:nth-child(3) {
    width: 36%;
    text-align: right;
    padding-right: 20px;
}

#ranking .table-player img {
    position: relative;
    bottom: 2px;
    margin-right: 5px;
    border-radius: 0.25rem;
}

#ranking .table-player p {
    display: inline-block;
    margin: 0;
}

#ranking .table-player a, #ranking .table-player a:hover {
    color: inherit;
    text-decoration: none;
}

#ranking .ranking-button {
    width: 100%;
    text-align: center;
}

#ranking .ranking-button a {
    display: block;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid rgba(21, 24, 30, 1);
    color: #75797c;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}

#ranking .ranking-button i {
    margin-right: 2px;
}

#ranking .ranking-button a:hover {
    text-decoration: none;
    background-color: rgba(21, 24, 30, 0.3);
}

#ranking .ranking-button a:hover i {
    color: #3ca241;
}

#ranking .ranking-button a:hover span {
    color: white;
}

/*
====================
#4 - Description
--------------------
*/

#description {
    background-image: url(/frontend/images/background_ggmc.png);
    background-position: 0px 375px;
    padding: 80px 0;
    margin: 50px 0;
    color: white;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 0px 0px 9px 9px rgba(0, 0, 0, 0.3);
}

#description h2 {
    font-weight: 700;
    font-size: 30px;
}

#description h3 {
    font-size: 24px;
}

/*
====================
#5 - Pulse
--------------------
*/

.pulse {
    display: inline-block;
    position: relative;
    height: 8px;
    width: 8px;
    border-radius: 100%
}

.pulse:after,
.pulse:before {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    height: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 100%;
    transform-origin: center center;
    opacity: 0;
    box-sizing: border-box
}

.pulse--green,
.pulse--green:after,
.pulse--green:before {
    background-color: #259517;
}

.pulse--green:before {
    animation: 2.4s 6s pulse-before infinite linear;
}

.pulse--green:after {
    animation: 2.4s pulse-after infinite linear;
}

.pulse--red {
    background-color: #cb0000;
}

.pulse--gray {
    background-color: #c2c2c2;
}

.pulse--yellow,
.pulse--yellow:after,
.pulse--yellow:before {
    background-color: #dbb800;
}

.pulse--yellow:before {
    animation: 2.4s 6s pulse-before infinite linear;
}

.pulse--yellow:after {
    animation: 2.4s pulse-after infinite linear;
}

@keyframes pulse-after {
    0% {
        transform: scale(1);
        opacity: .6;
    }
    to {
        transform: scale(3);
        opacity: 0;
    }
}

@keyframes pulse-before {
    0% {
        transform: scale(1);
        opacity: .3;
    }
    to {
        transform: scale(5);
        opacity: 0;
    }
}

/*
====================
#6 - Serwery
--------------------
*/

.server--online {
    border-bottom: 2px solid green;
}

.server--offline {
    border-bottom: 2px solid red;
}

.server--maintenance {
    border-bottom: 2px solid yellow;
}

.server--unavailable {
    border-bottom: 2px solid gray;
}

#serwery {
    margin: 50px 0 0;
}

#serwery .server-newsfeed .newsfeed-heading h3 {
    font-weight: 200;
    text-transform: uppercase;
}

#serwery .server-newsfeed .article-container {
    margin-bottom: 20px;
    box-shadow: 0 5px 12px rgb(0 0 0 / 30%);
}

#serwery .server-newsfeed .article-header {
    background-color: #15181e;
    padding: 10px;
    border-radius: 8px 8px 0 0;
}

#serwery .server-newsfeed .article-header h3 {
    font-size: 23px;
    font-weight: 600;
    text-transform: uppercase;
}

#serwery .server-newsfeed .article-header p {
    margin-bottom: 5px;
}

#serwery .server-newsfeed .article-content {
    background-color: #0d0f13;
    padding: 16px 12px;
    border-radius: 0 0 0.25rem .25rem;
}

#serwery .server-status {
    margin-bottom: 20px;
    box-shadow: 0 5px 12px rgb(0 0 0 / 30%);
}

#serwery .server-status .status-header {
    background: #15181e;
    padding: 14px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 7px 7px 0 0;
}

#serwery .server-status .status-header h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
}

#serwery .server-status .status-container {
    padding: 15px;
    border-top: 1px solid #20232a;
    background: #15181e;
    border-radius: 0 0 .25rem .25rem;
}

#serwery .server-status .status-container .server {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

#serwery .server-status .status-container .server:last-child {
    margin: 0;
}

#serwery .server-status .status-container .server .server-name {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
}

#serwery .server-status .status-container .server .server-name span {
    top: -1px;
    margin-right: 8px;
}

#serwery .server-status .status-container .server .server-online {
    color: #37b209;
    text-transform: uppercase;
}

#serwery .server-status .status-container .server .server-offline {
    color: #cb0000;
    text-transform: uppercase;
}

/*
====================
#7 - Footer
--------------------
*/

#footer {
    background-color: #15181e;
    margin-top: 50px;
}

#footer .footer-nav {
    padding: 40px 40px 10px 40px;
}

#footer .footer-nav .footer-logo {
    width: 150px;
    margin: 10px 0;
}

#footer .footer-nav hr {
    border-top: 1px solid rgba(32, 35, 42, 1);
}

#footer .footer-nav h6 {
    font-weight: 600;
}

#footer .footer-nav .footer-fb {
    background-color: #3b5998;
    color: white;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: 200;
    text-align: center;
}

#footer .footer-copyright {
    color: rgba(175, 181, 192, 0.6);
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    text-align: center;
    padding: 20px;
}

#footer .footer-copyright p {
    margin: 0;
}

#footer .footer-copyright a {
    color: inherit;
}

#footer .footer-copyright a:hover {
    color: rgba(175, 181, 192, 1);
    text-decoration: none;
}

/*
====================
#8 - Breadcrumbs
--------------------
*/

#breadcrumbs {
    margin-top: 120px;
}

#breadcrumbs .breadcrumb {
    background-color: #15181e;
}

#breadcrumbs .breadcrumb a {
    color: #0aabe1;
}

/*
====================
#9 - Regulamin
--------------------
*/

#regulamin .regulamin-aside {
    position: sticky;
    top: 0px;
    padding-left: 10px;
    margin-bottom: 1rem;
}

#regulamin .regulamin-aside a {
    display: block;
    margin: 0 0 1px 20px;
    color: inherit;
    transition: all .2s ease-in-out;
}

#regulamin .regulamin-aside a:before {
    content: "";
    display: inline-block;
    height: 5px;
    width: 5px;
    background-color: #afb5c0;
    margin-right: 10px;
    border-radius: 100%;
    position: relative;
    top: -3px;
}

#regulamin .regulamin-aside a:hover {
    text-decoration: none;
    margin-left: 25px;
}

#regulamin .regulamin-aside a:hover:before {
    background-color: #007bff;
}

#regulamin .regulamin-container {
    background-color: #15181e;
    padding: 25px;
    border-radius: 0.25rem 0.25rem 1rem 1rem;
    border-bottom: 2px solid #0aabe1;
}

#regulamin .regulamin-container h2 {
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 1.75rem;
}

#regulamin .regulamin-container h2 span, #regulamin .regulamin-container h3 span {
    font-weight: 300;
    color: #0aabe1;
}

#regulamin .regulamin-container h3 {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 1rem;
}

#regulamin .regulamin-container ul {
    list-style: none;
    padding-left: 15px;
    margin-bottom: 2.5rem;
}

#regulamin .regulamin-container ul li {
    margin-bottom: 10px;
}

#regulamin .regulamin-container ul li ul {
    list-style: disc;
    padding-left: 40px;
    margin-bottom: 0;
}

#regulamin .regulamin-container ul li ul li {
    margin: 0;
}

#regulamin .regulamin-aside h3 {
    font-weight: 600;
    font-size: 20px;
}

/*
====================
#10 - Sklep
--------------------
*/

#sklep .sklep-item {
    background-color: #15181e;
    padding: 25px;
    border-radius: 0.25rem;
    margin-bottom: 25px;
}

#sklep .sklep-item img {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 0.25rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
}

#sklep .sklep-item .sklep-item-name {
    font-size: 38px;
    color: #0aabe1;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}

#sklep .sklep-item .sklep-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sklep .sklep-item .sklep-button a {
    background-color: #0d0f13;
    color: inherit;
    padding: 10px 50px;
    border-radius: 0.25rem;
}

#sklep .sklep-item .sklep-button a:hover {
    background-color: #111318;
    text-decoration: none;
}

/*
====================
#11 - Przedmioty
--------------------
*/

#przedmioty .przedmioty-item {
    background-color: #15181e;
    padding: 30px;
    border-radius: 0.25rem;
    margin-bottom: 25px;
}

#przedmioty .przedmioty-item img {
    width: 100%;
    margin-bottom: 15px;
}

#przedmioty .przedmioty-item p {
    text-align: center;
}

#przedmioty .przedmioty-item .przedmioty-server-name span {
    font-size: 20px;
}

#przedmioty .przedmioty-item .przedmioty-item-name {
    font-size: 38px;
    color: #0aabe1;
    text-align: center;
    font-weight: 700;
}

#przedmioty .przedmioty-item .przedmioty-item-price {
    color: white;
    text-align: center;
    font-size: 20px;
}

#przedmioty .przedmioty-item .przedmioty-item-price .span-price {
    margin: 4px 0;
}

#przedmioty .przedmioty-item .przedmioty-item-description {
    margin: 10px 0 25px 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

#przedmioty .przedmioty-item .przedmioty-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#przedmioty .przedmioty-item .przedmioty-button a {
    background-color: #046092;
    color: white;
    padding: 7px 50px;
    border-radius: 25px;
}

#przedmioty .przedmioty-item .przedmioty-button a:hover {
    background-color: #103d56;
    text-decoration: none;
}

/*
====================
#12 - Przedmiot
--------------------
*/

#przedmiot {
    margin-bottom: 1rem;
}

#przedmiot .przedmiot-container {
    background-color: #15181e;
    padding: 50px;
    border-radius: 0.25rem;
}

#przedmiot .przedmiot-container img {
    width: 550px;
}

#przedmiot .przedmiot-container .przedmiot-description .przedmiot-item-name {
    font-size: 38px;
    color: #0aabe1;
    font-weight: 700;
}

/*
====================
#13 - Metody płatności, Formularz płatności
--------------------
*/

#metody-platnosci {
    margin-bottom: 1rem;
}

#metody-platnosci .metody-platnosci-container, #formularz-platnosci .formularz-platnosci-container {
    background-color: #15181e;
    padding: 50px;
    border-radius: 0.25rem;
}

#metody-platnosci .metody-platnosci-container .nav-pills .nav-link {
    background: #111318;
    margin: 5px 30px;
}

#metody-platnosci .metody-platnosci-container .nav-pills .nav-link.active {
    background-color: #007bff;
}

#metody-platnosci .metody-platnosci-container .metody-platnosci-title h3, .formularz-platnosci-title h3 {
    font-size: 25px;
    color: #afb5c0;
    font-weight: 200;
    margin-bottom: 20px;
}

#metody-platnosci .metody-platnosci-container .metody-platnosci-title h3 span, .formularz-platnosci-title h3 span {
    color: #0aabe1;
}

#formularz-platnosci .tab-content input[type="text"] {
    background-color: #111318;
    border: 1px solid #20232a;
    padding: 25px 15px;
    box-shadow: none;
    color: #afb5c0;
}

#formularz-platnosci .tab-content input[name="code"] {
    margin-top: 0.5rem;
}

#formularz-platnosci .sms-info hr {
    border-top: 1px solid rgba(32, 35, 42, 1);
}

#formularz-platnosci .sms-info p {
    text-align: center;
}

#formularz-platnosci .sms-info p span {
    color: #0aabe1;
    font-weight: 600;
}

#formularz-platnosci .tab-content input[type="text"]:focus {
    border: 1px solid #0aabe1;
}

#formularz-platnosci .tab-content button {
    box-shadow: none;
}

/*
====================
#14 - Alert Handler
--------------------
*/

#alert {
    margin-top: 100px; 
    padding: 210px 0;
}

#alert .alert-container {
    padding: 20px;
    text-align: center;
    background-color: #0d0f13;
    color: inherit;
}

#alert .alert-error {
    border: 1px solid #990000;
}

#alert .alert-info {
    border: 1px solid #004d99;
}

#alert .alert-container .alert-title {
    text-transform: uppercase;
}

#alert .alert-container .alert-message {
    text-transform: uppercase;
    font-weight: 200;
}

#alert-popup .alert-info {
    background-color: #15181e;
    color: inherit;
    border: none;
    border-radius: 0.25rem;
    /* border-bottom: 2px solid #0aabe1; */
    /* border-radius: 0.25rem 0.25rem 1rem 1rem; */

}

#alert-popup .alert-heading {
    font-weight: 300;
    color: #0aabe1;
}

#alert-popup .close {
    color: inherit;
    text-shadow: none;
    opacity: 1;
    outline: none;
}

#alert-popup .close:hover {
    color: #0aabe1;
}

/*
====================
#15 - Serwer
--------------------
*/

#serwer .server-description, #serwer .server-status {
    background-color: #15181e;
    padding: 25px;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
}

#serwer .server-description h1 {
    font-size: 34px;
    font-weight: 200;
    margin-bottom: 15px;
}

#serwer .server-description h3 {
    font-size: 25px;
    margin: 20px 0px 5px;
}

#serwer .server-description hr {
    border-top: 1px solid rgba(32, 35, 42, 1);
}

#serwer .server-description ul {
    background-color: #0d0f13;
    border-left: 3px solid #20232a;
    border-radius: 0 .25rem .25rem 0;
    padding: 10px 10px 10px 35px;
}

#serwer .server-description ul li span, #serwer .server-description span {
    color: #0aabe1;
}

#serwer .server-status h2 {
    font-size: 24px;
    font-weight: 200;
}

#serwer .server-status h2 span {
    position: relative;
    top: -3px;
    right: -3px;
}

#serwer .server-status .players-counter {
    color: #07b4df;
}

/*
====================
#16 - Serwery lista
--------------------
*/

#serwery-minecraft h3, #serwery-glosowe h3 {
    text-transform: uppercase;
    font-weight: 300;
}

#serwery-minecraft .server-container, #serwery-glosowe .server-container {
    background-color: #15181e;
    padding: 25px;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
}

#serwery-minecraft a.btn, #serwery-glosowe a.btn {
    box-shadow: none;
}

#serwery-minecraft h3 .pulse, #serwery-glosowe h3 .pulse {
    position: relative;
    top: -5px;
    right: -4px;
}

#serwery-minecraft .server-separator, #serwery-glosowe .server-separator {
    border-top: 1px solid rgba(32, 35, 42, 1);
}

#serwery-minecraft .server-name, #serwery-glosowe .server-name {
    font-weight: 600;
    text-transform: uppercase;
    color: #0aabe1;
}

#serwery-glosowe .serwery-teamspeak, #serwery-glosowe .serwery-discord {
    background-color: #0d0f13;
    border-radius: 0.25rem;
    padding: 50px 10px;
    font-size: 22px;
    font-weight: 200;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
}

/*
====================
#17 - Ostatnie śmierci
--------------------
*/

#ostatnie-smierci .ostatnie-smierci-container {
    background-color: #15181e;
    padding: 25px;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
}

#ostatnie-smierci .ostatnie-smierci-container h2 {
    font-size: 24px;
    font-weight: 200;
}

#ostatnie-smierci .ostatnie-smierci-container hr {
    border-top: 1px solid rgba(32, 35, 42, 1);
}

#ostatnie-smierci .ostatnie-smierci-container .historia-smierci {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*
====================
#18 - Podsumowanie płatności
--------------------
*/

#podsumowanie-platnosci {
    margin-top: 120px;
    min-height: 500px;
}

#podsumowanie-platnosci .podsumowanie-platnosci-container {
    background-color: #15181e;
    border-radius: 0.25rem;
    padding: 20px;
}

#podsumowanie-platnosci .podsumowanie-platnosci-container hr {
    border-top: 1px solid rgba(32, 35, 42, 1);
}

#podsumowanie-platnosci .podsumowanie-platnosci-container h6 {
    font-weight: 700;
}

#podsumowanie-platnosci .podsumowanie-platnosci-container .btn {
    box-shadow: none;
}

#podsumowanie-platnosci .podsumowanie-platnosci-container .list-group {
    display: flex;
    margin: 15px 0;
}

#podsumowanie-platnosci .podsumowanie-platnosci-container .list-group .list-group-item {
    background-color: #111318;
}

#podsumowanie-platnosci .podsumowanie-platnosci-container .list-group .list-group-item span {
    font-weight: 600;
}

#podsumowanie-platnosci .podsumowanie-platnosci-container .player-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

#podsumowanie-platnosci .podsumowanie-platnosci-container .player-info .player-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

#podsumowanie-platnosci .podsumowanie-platnosci-container .player-info .player-details .player-name {
    font-size: 22px;
    font-weight: 200;
}

/*
====================
#19 - Premium
--------------------
*/

#premium {
    margin: 50px 0;
}

#premium .premium-nav {
    margin-bottom: 25px;
}

#premium .premium-nav h2 {
    text-transform: uppercase;
    font-weight: 200;
    text-align: center;
}

#premium .premium-nav .nav {
    justify-content: center;
    flex-direction: column;
}

#premium .premium-nav .nav-item {
    margin: 5px 20px;
}

#premium .premium-nav .nav-item .nav-link {
    background-color: #0d0f13;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    color: inherit;
    text-align: center;
}

#premium .premium-nav .nav-item .nav-link.active {
    color: #007bff;
}

#premium .premium-nav .nav-item .nav-link:hover {
    color: #0056b3;
}

#premium .premium-container {
    background-color: #0d0f13;
    border-radius: 0.25rem;
    padding: 15px 15px 20px;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
    transition: all .2s ease-in-out;
    cursor: default;
    margin-bottom: 25px;
}

#premium .premium-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
}

#premium .premium-container .premium-heading p {
    text-align: center;
    margin-bottom: 0;
    font-weight: 200;
}

#premium .premium-container .premium-heading h3 {
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#premium .premium-container .premium-pricing {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 15px 15px 0;
}

#premium .premium-container .premium-pricing p {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#premium .premium-container .premium-pricing p:first-child {
    border-right: 1px solid #20232a;
}

#premium .premium-container .premium-content ul {
    list-style: none;
    padding-left: 20px;
}

#premium .premium-container .premium-content ul li {
    position: relative;
    padding: 5px 0px 5px 25px;
}

#premium .premium-container .premium-content ul li:before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    font-weight: 900;
    padding-right: 10px;
    color: #0aabe1;
    position: absolute;
    left: 0;
}

#premium .premium-container .premium-content ul li.unchecked:before {
    font-family: "Font Awesome 5 Free";
    content: "\f00d";
    font-weight: 900;
    padding-right: 10px;
    color: #242a35;
    position: absolute;
    left: 0;
}

#premium .premium-container .premium-content ul li:hover:before {
    color: #65cc13;
}

#premium .premium-container .premium-content ul li.unchecked:hover:before {
    color: #a61717;
}

#premium .premium-container .premium-footer {
    text-align: center;
}

#premium .premium-container .premium-footer .premium-button {
    background-color: #046092;
    color: white;
    padding: 7px 50px;
    border-radius: 25px;
    display: inline-block;
}

#premium .premium-container .premium-footer .premium-button:hover {
    background-color: #103d56;
    text-decoration: none;
}

/*
====================
#20 - Bany
--------------------
*/

#bany .ban-table {
    background-color: #15181e;
    border-radius: 0.25rem;
    padding: 10px;
}

#bany .ban-table img {
    border-radius: 0.25rem;
}

#bany .ban-table .table {
    color: inherit;
}

#bany .ban-table .table-responsive {
    padding: 10px;
}

#bany .ban-table .table thead th {
    border-bottom: 2px solid rgba(32, 35, 42, 1);
    text-transform: uppercase;
    font-weight: 300;
}

#bany .ban-table .table th {
    border: none;
}

#bany .ban-table p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#bany .ban-table p span.wlasciciel {
    color: #ff0000;
    background: url(https://i.imgur.com/4Ph5DWe.gif);
}

#bany .ban-table thead th {
    text-align: center;
}

#bany .ban-table tbody tr {
    /* border-bottom: 1px solid rgba(32, 35, 42, 1); */
}

#bany .ban-table tbody tr:nth-of-type(even) {
    background-color: #111318;
    box-shadow: 0px 0px 7px 4px rgb(0 0 0 / 25%);
}

/*
====================
#21 - Voucher
--------------------
*/

#voucher {
    margin-bottom: 120px;
}

#voucher .voucher-container {
    background-color: #15181e;
    padding: 50px;
    border-radius: 0.25rem;
    text-align: center;
}

#voucher .voucher-container h1 {
    font-size: 32px;
    font-weight: 200;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#voucher .voucher-container input {
    background-color: #111318;
    border: 1px solid #20232a;
    padding: 25px 15px;
    box-shadow: none;
    color: #afb5c0;
}

#voucher .voucher-container input:focus {
    border: 1px solid #0aabe1;
}

#voucher .voucher-container button {
    box-shadow: none;
}

#voucher .voucher-container input[name="code"] {
    margin-top: 0.5rem;
}

#voucher hr {
    border-top: 1px solid rgba(32, 35, 42, 1);
}

/*
====================
#22 - Vote
--------------------
*/

#vote {
    margin-bottom: 120px;
}

#vote .vote-container {
    background-color: #15181e;
    padding: 50px;
    border-radius: 0.25rem;
    text-align: center;
}

#vote .vote-container h1 {
    font-size: 32px;
    font-weight: 200;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#vote hr {
    border-top: 1px solid rgba(32, 35, 42, 1);
}

#vote .award-icon {
    color: orange;
    font-size: 13px;
}

#vote .nav-link {
    background: #111318;
    margin-bottom: 10px;
}

/*
====================
#23 - Transakcje
--------------------
*/

#transakcje .transakcje-container {
    background-color: #15181e;
    padding: 20px;
    border-radius: 0.25rem;
    text-align: center;
}

#transakcje .transakcje-container h3 {
    font-weight: 300;
    text-transform: uppercase;
}

#transakcje .transakcje-container h4 {
    font-weight: 200;
    margin-top: 10px;
}

#transakcje .transakcje-separator {
    border-top: 1px solid rgba(32, 35, 42, 1);
    margin-left: 25px;
    margin-right: 25px;
}

/*
====================
#24 - Grid
--------------------
*/

@media (min-width: 0px) {
    #footer .footer-nav {
        text-align: center;
    }   

    #metody-platnosci #pills-tab {
        flex-direction: column;
    }

    #serwery-minecraft .server-name, #serwery-glosowe .server-name {
        margin-top: 8px;
    }
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {
    #footer .footer-nav {
        text-align: left;
    }

    #footer .footer-nav .footer-logo {
        position: relative;
        right: 3px;
    }

    #metody-platnosci #pills-tab {
        flex-direction: row;
    }

    #metody-platnosci .metody-platnosci-container .nav-pills .nav-link {
        margin: 0px 10px;
    }

    #serwery-minecraft .server-name, #serwery-glosowe .server-name {
        margin-top: 0px;
    }
    
    #podsumowanie-platnosci .podsumowanie-platnosci-container .list-group {
        display: inline-flex;
    }

    #premium .premium-nav .nav {
        flex-direction: row;
    }
}

@media (min-width: 992px) {
    #regulamin .regulamin-aside {
        top: 100px;
    }

    #metody-platnosci .metody-platnosci-container .nav-pills .nav-link {
        margin: 0px 20px;
    }

    header nav .nav-item.active::before {
        display: block;
    }
}

@media (min-width: 1200px) {

}
